<div class="vcard">
  <p class="adr">
    <span class="street-address">Abhishek Sen</span><br>
    <span class="street-address">1540 Maurice Lane, Apt 47</span><br>
    <span class="region">San Jose</span><br>
    <span class="postal-code">CA 95129</span><br>
    <span class="country-name">USA</span>
  </p>
  <p class="tel">+1 408 406 4578</p>
</div>
