<footer class="footer">
  <nav>
    <ul>
      <li><iframe src="https://www.facebook.com/plugins/like.php?href=YOUR_URL"
        scrolling="no" frameborder="0"
        style="border:none; width:450px; height:80px"></iframe>
      </li>
      <li>&copy; Delice </li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Jobs", '#' %></li>
      <li><%= link_to "FAQ", faq_path %></li>
    </ul>
  </nav>
</footer>
